<div style="display: flex; flex-direction: row; position: relative;">
  <div class="options chart-card" style="position: relative;">
    <app-chart-heading title="Top Genres" [description]="description"></app-chart-heading>
    <!-- <span style="position: absolute; top: 5px; right: -35px; opacity: 0.15; z-index: 10;">
      <svg width="50" height="22" viewBox="0 0 78 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="7.5" cy="7.5" r="5" fill="#162040"/>
        <circle cx="70.5" cy="7.5" r="5" fill="#162040"/>
        <path d="M7.5 8C10.1667 12 20.5 20 40.5 20C60.5 20 69.1667 12 71 8" stroke="#162040" stroke-width="3"/>
        </svg>
    </span>
    <span style="position: absolute; bottom: -5px; right: -35px; opacity: 0.15; z-index: 10;">
      <svg width="50" height="22" viewBox="0 0 78 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="7.5" cy="7.5" r="5" fill="#162040"/>
        <circle cx="70.5" cy="7.5" r="5" fill="#162040"/>
        <path d="M7.5 8C10.1667 12 20.5 20 40.5 20C60.5 20 69.1667 12 71 8" stroke="#162040" stroke-width="3"/>
        </svg>
    </span> -->
    <mat-form-field appearance="fill">
      <mat-label>Genres</mat-label>
      <mat-select [formControl]="form.controls.genresControl" multiple>
        <mat-option *ngFor="let genre of activeGenres" [value]="genre">{{ genre }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-slide-toggle [formControl]="form.controls.fixGenresControl" (click)="$event.stopPropagation();">
      Lock Genres
    </mat-slide-toggle>
  </div>
  <div style="position: relative;"
       class="chart-card">
    <svg [id]="chartId"></svg>
    <app-tooltip [content]="tooltipContent" [position]="tooltipPosition" *ngIf="tooltipVisible"></app-tooltip>
  </div>
</div>

