:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.options {
  align-self: end;
  height: 175px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
