<ng-container *ngIf="barChartData$ | async as data">
  <app-bar-chart [data]="data"
                 [config]="barChartConfig"
                 (selectedGender)="onGenderSelected($event)"
                 class="chart-card"
                 [description]="description"
  ></app-bar-chart>
</ng-container>
