<app-chart-heading [title]="config.title" [description]="description">
  <span slot="title-prefix">
    <ng-content select="[slot=title-prefix]"></ng-content>
  </span>
</app-chart-heading>
<div style="position: relative;">
  <img src="assets/images/tap.png" class="tap" />
  <svg [id]="chartId"></svg>
</div>
<div class="legend">
  <ng-container *ngIf="config.showLegend && config.useCustomColors">
    <div class="item" *ngFor="let item of legendData">
      <div class="rect" [ngStyle]="{'background-color': item.color}"></div>
      <div class="label">{{ item.label }}</div>
    </div>
  </ng-container>
  <div *ngIf="this.config.showAverage" class="item">
    <div class="dots">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <div class="label">Average</div>
  </div>
</div>
