:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

.tap {
  opacity: 0.25;
  position: absolute;
  top: 75px;
  left: 40px;
  transform: rotate(140deg);
  height: 30px;
}

.legend {
  display: flex;
  gap: 20px;
  justify-content: center;

  .rect {
    width: 10px;
    height: 10px;
  }

  .dots {
    display: flex;
    gap: 2px;

    .dot {
      width: 5px;
      height: 3px;
      background-color: black;
    }
  }

  .item {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}
