<ng-container *ngIf="chartData$ | async as data">
  <app-radar-chart [data]="data"
                   [config]="chartConfig"
                   (dataChange)="onDataChanged($event)"
                   [disabled]="store.isLoading()"
                   [description]="description"
                  ></app-radar-chart>
</ng-container>
