<h2 mat-dialog-title>{{data.description?.title}}</h2>
<mat-dialog-content [innerHtml]="data.description?.description"></mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
