.tooltip {
    pointer-events: none;
    position: absolute;
    padding: 2px 4px;
    background-color: white;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    z-index: 1000;
    white-space: nowrap;
}
