$border: #17171e;
$background: white;

.tomo-chan {
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding-left: 200px;
  padding-top: 20px;
}

.tomo-chan-image {
  width: 320px;
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  position: relative;
  bottom: -10px;

  display: none;
  opacity: 0.2;

  animation: breath 10s ease-in-out infinite;

  &.sad,
  &.happy {
    &.active {
      transition: all 750ms ease-out;
      display: block;
      opacity: 1;
    }
  }

  &.sad {
    animation: none;
  }
}

@keyframes breath {
  0% {
    transform: translatey(0px) scaleY(1) rotate3d(1, 1, 1, 0deg);
  }
  25% {
    transform: translatey(3px) scaleY(1.01) rotate3d(1, 1, 1, -3deg);
  }
  50% {
    transform: translatey(-3px) scaleY(0.99) rotate3d(1, 1, 1, 0deg);
  }
  75% {
    transform: translatey(3px) scaleY(1.01) rotate3d(1, 1, 1, -3deg);
  }
  100% {
    transform: translatey(0px) scaleY(1) rotate3d(1, 1, 1, 0deg);
  }
}

.circle-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  height: 325px;
  width: 325px;
  overflow: hidden;
}
.circle {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  right: -200px;
  bottom: -200px;
  z-index: 0;
}

.bubble {
  width: 250px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: -20px;
  top: 15px;
  z-index: 2;

  justify-content: center;
  align-items: center;
  padding: 30px 70px;

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;

  visibility: hidden;
  opacity: 0.6;
  transform: scale(0.97);

  &.active {
    display: flex;
    transform: scale(1);
    transition: all 250ms ease-out;
    opacity: 1;
    visibility: visible;
  }
}

.state,
.gender,
.age,
.genre {
  background-color: #ecf0f1;
  padding: 2px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.state {
  width: 180px;
}

.age {
  width: 50px;
}

.gender {
  width: 100px;
}

.genre {
  width: 140px;
}


.speech-bubble {
  width: 250px;
  height: 130px;
  justify-content: center;
  align-items: center;
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;

  text-align: center;
  text-transform: uppercase;
  //font-weight: bold;
  //letter-spacing: 3px;
  line-height: 1.25;
  font-family: "Bangers", sans-serif;
  font-size: 20px;
  color: $border;
  background-color: $background;
  padding: 16px;
  border: 3px solid;
  border-radius: 11px;
  position: absolute;
  left: 0;
  z-index: 2;
  opacity: 0.6;
  visibility: hidden;

  &.active {
    display: flex;
    transition: all 250ms ease-out;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

.indicator {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  &.one {
    left: 0;
    top: 0;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid;
  }

  &.two {
    right: 0;
    top: 0;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid;
  }

  &.three {
    right: 0;
    bottom: 0;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid;
  }
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
