<div class="tomo-chan">
  <div class="circle-wrapper">
    <div class="circle"></div>
  </div>

  <div class="speech-bubble"
       [style]="{
          'border-color': (theme$ | async)?.tomoChan?.primary,
          'box-shadow': '5px 5px 5px ' + (theme$ | async)?.tomoChan?.primary}"
       [class.active]="((genderStore.selected() || genderStore.dominant()) && ageStore.selected()?.median) || appStore.isLoading()">
    @if (appStore.isLoading()) {
    <div class="loader">
      <div class="indicator">
        <div class="inner one"
        [style]="{
    'border-color': (theme$ | async)?.tomoChan?.primary,
    'box-shadow': '1px 1px 1px ' + (theme$ | async)?.tomoChan?.primary}"
          ></div>
          <div class="inner two"
          [style]="{
    'border-color': (theme$ | async)?.tomoChan?.primary,
    'box-shadow': '1px 1px 1px ' + (theme$ | async)?.tomoChan?.primary}"></div>
          <div class="inner three"
          [style]="{
    'border-color': (theme$ | async)?.tomoChan?.primary,
    'box-shadow': '1px 1px 1px ' + (theme$ | async)?.tomoChan?.primary}"></div>
        </div>
        <div>Loading</div>
      </div>
    } @else {
    <div>
      Your typical Anime Watcher <span *ngIf="selectedStateStore.selected()?.name">from <span
      class="highlight state" [style]="{color: (theme$ | async)?.tomoChan?.text}">{{ selectedStateStore.selected()?.name }}</span></span> is <span
        class="highlight gender" [style]="{color: (theme$ | async)?.tomoChan?.text}">{{ (genderStore.selected() ?? genderStore.dominant()) }}</span>, <span
        class="highlight age" [style]="{color: (theme$ | async)?.tomoChan?.text}">{{ ageStore.selected()?.median }}</span>
        years old and likes to watch <span class="highlight genre" [style]="{color: (theme$ | async)?.tomoChan?.text}">{{genreStore.selected()?.genre}}</span>.
      </div>
    }
  </div>

  <div class="tomo-chan-image sad"
       [class.active]="(!(genderStore.selected() || genderStore.dominant()) || !ageStore.selected()?.median) || appStore.isLoading()"
       [style]="{'background-image': tomoSad}"></div>
  <div class="tomo-chan-image happy"
       [class.active]="(genderStore.selected() || genderStore.dominant()) && ageStore.selected()?.median && !appStore.isLoading()"
        [style]="{'background-image': tomoHappy}"></div>
</div>
