.title {
  margin-top: 15px;
  display: flex;
  font-weight: bold;
  justify-content: center;

  h1 {
    font-family: "Bangers", sans-serif;
    font-size: 34px;
  }
}

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 16px;
  width: 1440px;
  height: 790px;
  position: relative;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.row {
  display: flex;
  gap: 20px;
}


.select-data {
  height: 175px;
  position: absolute;
  left: 32px;
  bottom: 25px;

  .options {
    display: flex;
    flex-direction: column;
    gap: 12px;

    ::ng-deep.mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}
