<div class="content" [style]="{'background-color': (theme$ | async)?.tomoChan?.primary}">
  <main class="container" [style]="{'background-color': (theme$ | async)?.tomoChan?.secondary}">
    <div class="title">
      <h1 [style]="{color: (theme$ | async)?.tomoChan?.primary}">{{ title }}</h1>
    </div>
    <div class="row">
      <app-user-location-count-chart></app-user-location-count-chart>
      <app-user-gender-count-chart></app-user-gender-count-chart>
      <app-average-age-by-gender-chart></app-average-age-by-gender-chart>
    </div>
    <app-tomo-chan></app-tomo-chan>
    <app-favorite-genre-by-gender-chart></app-favorite-genre-by-gender-chart>
    <div class="select-data chart-card">
      <app-chart-heading title="Settings" [disableInfo]="true"></app-chart-heading>
      <div class="options">
        <mat-form-field>
          <mat-label>Data Source</mat-label>
          <mat-select [(value)]="selectedData" (selectionChange)="onDataChange()" [disabled]="store.isLoading()">
            <mat-option *ngFor="let data of dataSets" [value]="data">{{ data }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Theme</mat-label>
          <mat-select [(value)]="selectedTheme" (selectionChange)="onThemeChange()" [disabled]="store.isLoading()">
            <mat-option *ngFor="let data of themes" [value]="data">{{ data.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </main>
</div>
