:host {
  width: 100%;
}

.heading {
  display: flex;
  position: relative;
  justify-content: center;
  height: 48px;
  width: 100%;
  align-items: center;
  color: #95A5A6;

  .title {
    font-family: "Bangers";
    margin: 0;
    font-weight: lighter;
  }

  .settings {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: end;
  }
}
.actions {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.info {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: end;
}
