<div class="heading">
  <h2 class="title">
    {{ title }}
    <ng-content select="[slot=title-prefix]"></ng-content>
  </h2>
  @if (!disableInfo) {
    <div class="info">
      <button color="primary" mat-icon-button (click)="showInfo()">
        <mat-icon aria-hidden="false" aria-label="Info Icon" fontIcon="info_outline"></mat-icon>
      </button>
    </div>
  }
</div>
<div class="actions">
  <ng-content select="[slot=actions]"></ng-content>
</div>
