<app-chart-heading [title]="config.title" [description]="description"></app-chart-heading>
<div style="position: relative;">
  <svg [id]="chartId"></svg>
  <app-tooltip [content]="tooltipContent" [position]="tooltipPosition" *ngIf="tooltipVisible"></app-tooltip>
</div>
