/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@font-face {
  font-family: test;
  src: url(assets/fonts/manga_temple/mangat.ttf) format("opentype");
}

$custom-typography: mat.define-typography-config(
  $font-family: 'test, sans-serif');

$my-theme: mat.define-light-theme(
  (
    typography: $custom-typography,
  )
);


html, body { height: 100%; }
body { margin: 0;
  font-family: "Roboto", sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  gap: 12px;
}

.chart-card {
  background-color: white;
  //border: 3px solid;
  border-radius: 12px;
  padding: 12px;
  box-shadow: inset 0px 0px 5px #00000045;
}

ul {
  margin: 0;
  padding-left: 15px;
  li {
    text-indent: unset;
  }
}
