<ng-container *ngIf="chartData$ | async as data">
  <div class="chart-card">
    <app-box-plot-chart
      [data]="data"
      [config]="boxPlotChartConfig"
      [description]="description"
    ></app-box-plot-chart>
  </div>
</ng-container>
