<app-chart-heading [title]="config.title" [description]="description">
  <ng-container slot="actions">
    <form [formGroup]="form" class="form">
      <mat-form-field *ngIf="choropleth">
        <mat-label>Steps</mat-label>
        <input matInput type="number" min="2" max="6" formControlName="choroplethSteps"
               (click)="$event.stopImmediatePropagation()">
      </mat-form-field>
      <mat-form-field>
        <input type="text" placeholder="Search a state" aria-label="Number" matInput
               formControlName="search"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of states | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </ng-container>
  <div slot="menu">
    <button mat-menu-item (click)="resetChart()">
      <mat-icon>restart_alt</mat-icon>
      <span>Reset</span>
    </button>
    <button mat-menu-item>
      <mat-slide-toggle [formControl]="useChoroplethControl" (click)="$event.stopPropagation();">
        Choropleth Map
      </mat-slide-toggle>
    </button>
  </div>
</app-chart-heading>

<div style="position: relative;">
  <svg [id]="chartId"></svg>
  <app-tooltip [content]="tooltipContent" [position]="tooltipPosition" *ngIf="tooltipVisible"></app-tooltip>
</div>

<div class="legend">
  <ng-container *ngIf="choropleth">
    <div class="item" *ngFor="let item of choropleth.domain; index as i;">
      <div class="rect" [ngStyle]="{'background-color': choropleth.colors[i]}"></div>
      <div class="label">
        &ge; {{ item }}
      </div>
    </div>
  </ng-container>
</div>
