:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.legend {
  display: flex;
  gap: 0;
  justify-content: center;

  .rect {
    width: 70px;
    height: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .dots {
    display: flex;
    gap: 2px;

    .dot {
      width: 5px;
      height: 3px;
      background-color: black;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    &:first-of-type {
      .rect {
        border-left: 1px solid black;
      }
    }

    &:last-of-type {
      .rect {
        border-right: 1px solid black;
      }
    }
  }
}
