<ng-container *ngIf="chartData$ | async as data">
  <app-map-chart [data]="data"
                 [config]="config"
                 (selectedState)="onStateSelected($event)"
                 [disabled]="appStore.isLoading()"
                 [style]="{'border-color': theme.tomoChan.primary}"
                 [description]="description"
                 class="chart-card"
  ></app-map-chart>
</ng-container>
